/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/11/2016, 12:40:26 PM
    Author     : Ingeniero Jean C
*/

div{
    background-color: #0B486B;
    padding: 20px;
    width: 25%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;


}

h1{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px #F41111 solid;
}
.izq{
    float: left;
}

.der{
    float: right;
}

p{
    clear: both;
}

table{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

table, tr, th, td  {
    border-collapse: collapse;
    border: 1px solid cornflowerblue;
}

table tr th{
    background-color: captiontext;
}

table td{
    text-align: center;
}
th{
    color: white; 
}
body{
    background:#A8DBA8;
}